<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <!--vendor css-->
    <link rel="stylesheet" type="text/css"
          href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="../../../node_modules/bootstrap-datetimepicker-npm/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <!--own css-->
    <link rel="stylesheet" type="text/css" href="../../css/creative.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/landing-page.css">
    <link rel="stylesheet" type="text/css" href="../../css/tickets.css">
</head>
<body class="body">
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 " id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger " href="#page-top">sdfsfds
        </a>
        <a class="navbar-brand js-scroll-trigger train-icon" href="#page-top">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="cursor: pointer" data-toggle="modal"
                       data-target="#ModalLogin">sdfs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="cursor: pointer" data-toggle="modal"
                       data-target="#ModalRegistration">sdfsd</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn navbar-brand " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            sdfdsf
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">sdf</a>
            <a class="dropdown-item" href="#">sdfdsf</a>
        </div>
    </div>
</nav>

<div
        style="background-image: url('https://s2.best-wallpaper.net/wallpaper/2560x1440/1807/France-Limoges-city-night-train-station_2560x1440.jpg')"></div>

<section class="py-5">
    <div class="card flex-row my-5" style="width: 80%; margin-left: auto; margin-right: auto;">
        <div class="card-body">
            <h5 class="card-title text-center">Профиль</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Логин : vladimir@gmail.com</li>
                <li class="list-group-item">Имя : Владимир</li>
                <li class="list-group-item">Фамилия : Петренко</li>
            </ul>
            <h5 class="card-title text-center" style="margin-top: 1%">Мои билеты</h5>
            <div class="container">
                <div style="margin-right: 10px; text-align: right">
                    <input type="checkbox" class="custom-checkbox">Показывать прошедшие</div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#Поезда</th>
                        <th scope="col">Откуда / Куда</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Вагон</th>
                        <th scope="col">Место</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Киев /
                            Одесса</td>
                        <td>20-11-2019 12:00 / 20-11-2019 20:00</td>
                        <td>25</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Киев /
                            Одесса</td>
                        <td>20-11-2019 12:00 / 20-11-2019 20:00</td>
                        <td>25</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Киев /
                            Одесса</td>
                        <td>20-11-2019 12:00 / 20-11-2019 20:00</td>
                        <td>25</td>
                        <td>25</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
<script src="../../../node_modules/jquery.easing/jquery.easing.min.js"></script>
<script src="../../../node_modules/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../../../node_modules/popper.js/dist/umd/popper.js"></script>

<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="../../../built/js/creative.js"></script>
<script src="../../../built/js/main.js"></script>

<script src="../../../node_modules/moment/min/moment.min.js"></script>
<script src="../../../node_modules/bootstrap-datetimepicker-npm/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="../../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>


</html>