<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--vendor css-->
    <link rel="stylesheet" type="text/css"
          href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="../../../node_modules/bootstrap-datetimepicker-npm/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <!--own css-->
    <link rel="stylesheet" type="text/css" href="../../css/creative.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/landing-page.css">
    <link rel="stylesheet" type="text/css" href="../../css/tickets.css">
</head>
<body class="body">
<div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger " href="#page-top">sdfsfds
            </a>
            <a class="navbar-brand js-scroll-trigger train-icon" href="#page-top">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="cursor: pointer" data-toggle="modal"
                           data-target="#ModalLogin">sdfs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="cursor: pointer" data-toggle="modal"
                           data-target="#ModalRegistration">sdfsd</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn navbar-brand " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                sdfdsf
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"><label for="en_locale_submit">en</label></a>
                <a class="dropdown-item"><label for="ru_locale_submit">ru</label></a>
            </div>
        </div>
        <form method="get" >
            <div class="form-label-group">
                <input type="hidden" id="en_locale" name="locale" value="en">
            </div>
            <button type="submit" id="en_locale_submit"></button>
        </form>
        <form method="get">
            <div class="form-label-group">
                <input type="hidden" id="ru_locale" name="locale" value="ru">
            </div>
            <button type="submit" id="ru_locale_submit"></button>
        </form>
    </nav>


    <div
            style="background-image: url('https://s2.best-wallpaper.net/wallpaper/2560x1440/1807/France-Limoges-city-night-train-station_2560x1440.jpg')"></div>

    <!-- Page Content -->
    <section class="py-5">
        <div class="card flex-row my-5" style="width: 80%; margin-left: auto; margin-right: auto;">
            <div class="card-body">
                <h5 class="card-title text-center">Заказ билетов</h5>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col">Откуда</div>
                                <div class="col"></div>
                                <div class="col">Куда</div>
                                <div class="w-100 "></div>
                                <select class="col selectpicker border rounded" data-live-search="true">
                                    <option>Станция1</option>
                                    <option>Станция2</option>
                                    <option>Станция3</option>
                                </select>
                                <div class="col">
                                    <div class="icon icon-change"
                                         style="width: 30px; margin-left: auto; margin-right: auto;cursor: pointer">
                                    </div>
                                </div>
                                <select class="col selectpicker border rounded" data-live-search="true">
                                    <option>Станция1</option>
                                    <option>Станция2</option>
                                    <option>Станция3</option>
                                </select>
                                <div class="w-100 "></div>
                                <div class="col">Дата отправления</div>
                                <div class="col">Время отправления с:</div>
                                <div class="col"></div>
                                <div class="w-100 "></div>
                                <div class='col border rounded input-group date'>
                                    <input type='text' class="form-control" id='datetimepicker' style="border: none;"/>
                                    <span class="input-group-addon icon icon-calendar"
                                          style="margin-top: 1%; margin-left: 4%">
                                    </span>
                                </div>
                                <div class="col">
                                    <div class=' border rounded input-group date'>
                                        <input type='text' class="form-control" id='datetimepicker1'
                                               style="border: none"/>
                                        <span class="input-group-addon icon icon-time"
                                              style="margin-top: 1%; margin-left: 4%">
                                    </span>
                                    </div>

                                </div>
                                <div class="col"></div>
                                <div class="w-100 "></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="w-100" style="margin-top: 30px"></div>
                                <div class="col"></div>
                                <div class="col">
                                    <div style="width: 55%; margin-left: auto; margin-right: auto;cursor: pointer">
                                        <a class="btn btn-light-forlend btn-xl">Поиск поездов</a>
                                    </div>
                                </div>
                                <div class="col"></div>
                                <div class="w-100" style="margin-top: 30px"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#Поезда</th>
                            <th scope="col">Откуда / Куда</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Свободных мест</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Киев /
                                Одесса
                            </td>
                            <td>20-11-2019 12:00 / 20-11-2019 20:00</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Киев /
                                Одесса
                            </td>
                            <td>20-11-2019 12:00 / 20-11-2019 20:00</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Киев /
                                Одесса
                            </td>
                            <td>20-11-2019 12:00 / 20-11-2019 20:00</td>
                            <td>25</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </section>
</div>

</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
<script src="../../../node_modules/jquery.easing/jquery.easing.min.js"></script>
<script src="../../../node_modules/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../../../node_modules/popper.js/dist/umd/popper.js"></script>

<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="../../../built/js/creative.js"></script>
<script src="../../../built/js/main.js"></script>

<script src="../../../node_modules/moment/min/moment.min.js"></script>
<script src="../../../node_modules/bootstrap-datetimepicker-npm/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="../../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

</body>
</html>